/********************************************************************************************************************************************
*********************************************************** TABLE OF CONTENTS ***************************************************************
********************************************************************************************************************************************/
/*
    1. ROOT VARIABLES
        1.1 Colors
        1.2 Text Size

    2. DEFAULT STYLES
        2.1 Default page styling
        2.2 Default font styling
        2.3 Default component styling
        2.4 Additional fonts

    3. GENERIC STYLES
        3.1 Spacing
        3.2 Color
        3.3 Display
        3.4 Typography

    4. TYPOGRAPHY

    5. FOOTER

    6. MEDIA QUERIES
        6.1 Tablet View
        6.2 Mobile View
*/

/********************************************************************************************************************************************
************************************************************ 1. ROOT VARIABLES **************************************************************
********************************************************************************************************************************************/
:root {

    /* ----------------- 1.1 Colors ----------------- */
    --white-100: #e6e6e6;
    --white-200: #cccccc;
    --white-300: #b3b3b3;
    --white-400: #999999;

    /* Color Palette */
    --pal-primary: #000;
    --pal-secondary: #000;
    --pal-tertiary: #000;

}



/********************************************************************************************************************************************
*********************************************************** 2. DEFAULT STYLES ***************************************************************
********************************************************************************************************************************************/
/* ------------------- 2.1 Default page styling ------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth!important;
}

body {
    /* Set background color for entire site */
    /* 15% */
    /* background: #262626; */
    background: #fff;

    /* Set default text color for entire site */
    color: #fff;
}


/********************************************************************************************************************************************
*********************************************************** 3. GENERIC STYLES ***************************************************************
********************************************************************************************************************************************/
.bootstrap-icon-fill {
    fill: #d9d9d9!important;
}

.bootstrap-icon-fill-code {
    fill: #00e6cf!important;
}

.bootstrap-icon-fill-gray {
    fill: #a6a6a6!important;
}


/********************************************************************************************************************************************
************************************************************** 4. TYPOGRAPHY ****************************************************************
********************************************************************************************************************************************/
/* -------------------- 4.1 Additional Fonts --------------------- */
@font-face {
    font-family: 'Feelfree';
    src: local('Feelfree'),
         url('./fonts/feel-free.ttf') format('truetype');
}


/* ------------------- 4.1 Font Family Styling ------------------- */
.feel-free {
    font-family: Feelfree!important;
}

.text {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif!important;
}

/* ------------------- 2.2 Font Color Styling ------------------- */
.color-white {
    color: #fff!important;
}
.color-code {
    color: #00e6cf;
}

.green-gradient {
    background: linear-gradient(to right, #0e715e, #10d594);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-style: italic!important; */
}

.green-gradient-2 {
    background: linear-gradient(to right, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal!important;
}


/********************************************************************************************************************************************
************************************************************** 4. LANDING PAGE **************************************************************
********************************************************************************************************************************************/
.bg-img {
    background-image: url('./images/landing-bg2.png');
    background-size: cover; /* Makes sure the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Ensures the image doesn’t repeat */
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Full viewport height */
}

.landing-img {
    max-height: 250px;
    max-width: 100%; /* Adjust to your container's width */
    min-width: 200px;
    height: auto; /* Maintains the aspect ratio */
    object-fit: contain; /* Ensures the entire image fits inside the container */
    border-radius: 8px!important;
}

.article-img {
    max-height: 100px;
    min-height: 100px;
    max-width: 120px;
    min-width: 120px;
    height: auto; /* Maintains the aspect ratio */
    object-fit: contain; /* Ensures the entire image fits inside the container */
    border-radius: 4px!important;
}

.bootstrap-icon-fill {
    fill: #d9d9d9!important;
}

.podcast-link:hover {
    color: #4d94ff;
}

.svg-img {
    max-height: 40px;
}

.social-icon {
    height: 20px;
    width: 20px;
}

.natgeo-vector {
    max-height: 40px;
}

.time-vector {
    max-height: 25px;
}

.livescience-vector {
    max-height: 30px;
}

.slate-vector {
    max-height: 25px;
}

.mongabay-vector {
    max-height: 40px;
}

.climate-news-vector {
    max-height: 20px;
}



/********************************************************************************************************************************************
**************************************************************** 4. NAVBAR ******************************************************************
********************************************************************************************************************************************/
.nav-logo {
    border-radius: 4px;
    box-shadow: 0px 2px 6px 0.2px #000!important;
    z-index: 1000!important;
}
.nav-logo:hover {
    border-radius: 4px;
    box-shadow: 0px 2px 10px 0.7px #000!important;
    z-index: 1000!important;
}
.cartographer-logo {
    /* box-shadow: 0px 2px 6px 0.2px #000!important; */
    z-index: 1000!important;
    margin-left: 0.75rem;
}
.cartographer-logo:hover {
    z-index: 1000!important;
}



/********************************************************************************************************************************************
**************************************************************** Landing Page ******************************************************************
********************************************************************************************************************************************/
.landing-stack {
    height: calc(100% - 60px);
    width: 100%;
    padding-top: 144px;
}

.landing-styled-paper {
    max-width: 930px;
    margin: 7rem 0;
}

.landing-title-box {
    padding: 0 320px;
}



/********************************************************************************************************************************************
**************************************************************** AboutMe Page ******************************************************************
********************************************************************************************************************************************/
.about-stack {
    height: calc(100% - 60px);
    width: 100%;
    padding-top: 310px;
}

.about-styled-paper {
    max-width: 850px;
    margin: 0;
}



/********************************************************************************************************************************************
**************************************************************** Contact Page ******************************************************************
********************************************************************************************************************************************/
.contact-stack {
    height: calc(100% - 60px);
    width: 100%;
    padding-top: 310px;
}

.contact-styled-paper {
    max-width: 850px;
    min-width: 500px;
}



/********************************************************************************************************************************************
*********************************************************** MEDIA QUERIES ***************************************************************
********************************************************************************************************************************************/

/* LAPTOP VIEW */
@media only screen and (max-width: 1540px) {

    /* Landing page */
    .landing-stack {
        height: calc(100% - 60px);
        width: 100%;
        padding-top: 100px;
    }

    .landing-styled-paper {
        max-width: 930px;
        margin: 5rem 0;
    }

    .landing-title-box {
        padding: 0 200px;
    }

    /* About Me page */
    .about-stack {
        height: calc(100% - 60px);
        width: 100%;
        padding-top: 200px;
    }
    
    .about-styled-paper {
        max-width: 850px;
        margin: 0;
    }

    /* Contact page */
    .contact-stack {
        height: calc(100% - 60px);
        width: 100%;
        padding-top: 250px;
    }
    
    .contact-styled-paper {
        max-width: 850px;
        min-width: 500px;
    }
}

/* TABLET VIEW */
@media only screen and (max-width: 821px) {

}

/* MOBILE VIEW */
@media only screen and (max-width: 600px) {

    /* Images */
    .bg-img {
        height: 100%; /* Add extra height to account for mobile browser UI */
    }

    .landing-img {
        max-height: 350px;
        max-width: 100%; /* Adjust to your container's width */
        height: auto; /* Maintains the aspect ratio */
        object-fit: contain; /* Ensures the entire image fits inside the container */
        border-radius: 8px!important;
    }

    /* Landing page */
    .landing-stack {
        width: 100%;
        padding-top: 0;
    }

    .landing-styled-paper {
        margin: 2.5rem 1rem 4rem 1rem;
    }

    .landing-title-box {
        padding: 16px;
    }

    /* About Me page */
    .about-stack {
        width: 100%;
        padding-top: 0;
    }
    
    .about-styled-paper {
        margin: 2.5rem 1rem 4rem 1rem;
    }

    /* Contact page */
    .contact-stack {
        width: 100%;
        padding-top: 0;
    }
    
    .contact-styled-paper {
        margin: 2.5rem 1rem 4rem 1rem;
        min-width: 350px;
    }
}